@use "../../../styles/mixins" as m;
@use 'sass:math';

// BEDROOM
@keyframes air-car {
  from {
    transform: translate(372, 0);
  }

  to {
    transform: translate(6072, 1250);
  }
}

@keyframes computer-screen {

  $percent: 0;

  @for $i from 1 through 11 {
    $step: $i * math.div(100, 11.11111);
    $scale: math.div($step, 100);

    $percent: $percent + 3;

    #{$percent}% {
      transform: scaleY($scale);
    }
  }
}

.bedroom_1 {

  #{m.svgLabel("alarm")},
  #{m.svgLabel("clock text bright")} {
    opacity: 0;
  }

  &.alarm_on {
    #{m.svgLabel("clock text bright")} {
      animation: blink 1s infinite;
    }
  }

  #{m.svgLabel("sign glow")} {
    animation: blink 2s infinite;
  }

  @include m.hideItems(("pants", "cup", "sweater",
      ("pill" "pill-to-pick-up"), ("empty_thc_capsule", "capsules")));

  #{m.svgLabel("window")} {
    #{m.svgLabel("car")} {
      animation: air-car 4s 1s infinite;
    }
  }

  #picture_down {
    display: none;
  }

  &.picture_turned_down {
    #picture_down {
      display: inherit;
    }

    #picture {
      display: none;
    }
  }

  #{m.svgLabel("output-clipping-path")} {
    transform-box: fill-box;
    transform-origin: top;
    animation: computer-screen 5s step-end infinite;
  }

  #{m.svgLabel("has-messages")} {
    display: none;
  }

  &.computer_has_messages {
    #{m.svgLabel("has-messages")} {
      display: block;
      animation: blink 2s infinite;
    }
  }

  #{m.svgLabel("pants")} {
    display: block;
  }

  &.no_pants {
    .protagonist {
      #{m.svgLabel("pants")} {
        display: none;
      }

      #{m.svgLabel("no-pants")} {
        display: block;
      }
    }
  }

  #{m.svgLabel("hamper-sweater")} {
    display: none;
  }

  &.sweater-in-hamper {
    #{m.svgLabel("hamper-sweater")} {
      display: block;
    }
  }
}