@use "../../../styles/mixins" as m;

// BEDROOM
@keyframes air-car {
  from {
    transform: translate(372, 0);
  }

  to {
    transform: translate(6072, 1250);
  }
}

@keyframes computer-screen {

  $percent: 0;

  @for $i from 1 through 11 {
    $step: $i * (100 / 11.11111);
    $scale: $step / 100;

    $percent: $percent + 3;

    #{$percent}% {
      transform: scaleY($scale);
    }
  }
}

.bedroom_1 {

  [inkscape\:label="alarm"],
  [inkscape\:label="clock text bright"] {
    opacity: 0;
  }

  &.alarm_on {
    [inkscape\:label="clock text bright"] {
      animation: blink 1s infinite;
    }
  }

  &.pants-picked-up {
    #pants {
      opacity: 0;
    }
  }

  &.pill-picked-up {
    #pill-to-pick-up {
      opacity: 0;
    }
  }

  [inkscape\:label="window"] {
    [inkscape\:label="car"] {
      animation: air-car 4s 1s infinite;
    }
  }

  #picture_down {
    display: none;
  }

  &.picture_turned_down {
    #picture_down {
      display: inherit;
    }

    #picture {
      display: none;
    }
  }

  #{m.svgLabel("output-clipping-path")} {
    transform-box: fill-box;
    transform-origin: top;
    animation: computer-screen 5s step-end infinite;
  }

  #{m.svgLabel("has-messages")} {
    display: none;
  }

  &.computer_has_messages {
    #{m.svgLabel("has-messages")} {
      display: block;
      animation: blink 2s infinite;
    }
  }

  &.no_pants {
    .protagonist {
      #{m.svgLabel("pants")} {
        opacity: 0;
      }
      #{m.svgLabel("no-pants")} {
        opacity: 1;
      }
    }
  }
}