@use 'sass:list';

@mixin aeroBorder() {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    inset: 1px;
    border-radius: 0.5rem;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.4);
    z-index: 0;
  }

  & > * {
    position: relative;
    z-index: 1;
  }
}

@function svgLabel($lab) {
  @return "[inkscape\\:label\=\"#{$lab}\"]";
}

@mixin hideItems($itemList) {
  @each $item in $itemList {
    $itemClass: $item;
    $itemLabel: $item;

    @if list.length($item)==2 {
      $itemClass: list.nth($item, 1);
      $itemLabel: list.nth($item, 2);
    }

    &.#{$itemClass}-picked-up {
      .room-object#{svgLabel($itemLabel)} {
        display: none;
      }

      .room-object #{svgLabel($itemLabel)} {
        display: none;
      }
    }
  }
}