/* STYLES USED IN ALL MODES */

@use 'sass:list';
@use 'sass:math';
@use './mixins' as m;

@property --seed {
  syntax: '<number>';
  initial-value: 0.5;
  inherits: false;
}

:root {
  --seed: 0.5;

  --color-bg-blue: rgba(6, 137, 228, 0.4);
  --color-bg-black: rgba(56, 56, 56, 0.8);
  --color-bg-red: rgba(204, 46, 34, 0.4);
  --color-bg-yellow: rgba(251,185,5, 0.4);
  --color-blue: #0032db;
}

html,
body {
  background: linear-gradient(#000, #333 33%, #000);
  height: 100%;
  font-family: "Istok Web", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;

  input,
  button {
    font-family: "Istok Web", sans-serif;
    font-size: 16px;
  }

  p {
    margin: 0;
  }
}

button {
  border-radius: 0.25rem;
  background: linear-gradient(180deg,
      rgba(212, 232, 250, 1) 0%,
      rgba(81, 181, 252, 1) 49%,
      rgba(6, 137, 228, 1) 50%,
      rgba(0, 85, 145, 1) 100%);
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: white;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
  font-weight: 400;
  padding: 0.25rem 0.5rem;

  @include m.aeroBorder();

  &::after {
    border-radius: 0.25rem;
    box-shadow: 0 -2px 4px rgba(255, 255, 255, 0.25)inset;
  }

  &.red {
    background: linear-gradient(180deg,
        #e3b3ae 0%,
        #d27567 49%,
        #d14d39 50%,
        #da876f 100%);
  }
}

.icon {
  display: inline-block;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: var(--color-blue);
  border-radius: 50%;

  &.talk {
    background-image: url(../assets/icons/talk.svg);
  }
}

.placeholder {
  position: absolute !important;
  left: -9999em !important;
}

.displaynone {
  display: none;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  border-radius: 1rem;
  background: linear-gradient(to top right, #d9cc0f, #25a2ca, #0c697a);

  .action-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
    transition: opacity 200ms;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    button {
      background: #DDD;
      border-radius: 10px;
      border: 2px solid #333;
      padding: 4px 8px;
      cursor: default;
      box-sizing: content-box;
      width: 30px;
      height: 30px;
      transition: border 200ms, background-color 200ms;

      &.active {
        border: 4px solid darkblue;
        background: white;
      }
    }
  }

  // .inventory {
  //   display: none;

  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;

  //   .toggle,
  //   .toggle-shadow {
  //     display: inline-block;
  //     width: 40px;
  //     box-sizing: content-box;
  //     margin: 0 0 -8px 50px;
  //     background: #BBB;
  //     border-color: #666;
  //     border-style: solid;
  //     border-width: 1px 1px 0 1px;
  //     border-radius: 3px 3px 0 0;
  //     position: relative;
  //     z-index: 300;
  //     text-align: center;
  //     cursor: pointer;
  //     height: 0;
  //     overflow: hidden;
  //     opacity: 0;
  //     transition: opacity 300ms, height 300ms;
  //     line-height: 40px;

  //     img {
  //       vertical-align: middle;
  //     }
  //   }

  //   .toggle-shadow {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  //     z-index: 100;
  //   }

  //   .item-list-wrapper {
  //     height: 0;
  //     background: #BBB;
  //     border-radius: 3px 3px 20px 20px;
  //     box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.75);
  //     width: 100%;
  //     overflow: hidden;
  //     position: relative;
  //     z-index: 200;
  //     transition: height ease-in-out 300ms;

  //     .item-list {
  //       height: 150px;
  //       display: flex;
  //       flex-direction: row;
  //       flex-wrap: nowrap;
  //       overflow: auto;
  //       padding: 0 20px;
  //       gap: 20px;

  //       .item {
  //         width: 140px;
  //         height: 140px;
  //         display: block;
  //         cursor: pointer;
  //         position: relative;
  //         overflow: hidden;

  //         &.grabbed {
  //           svg {
  //             opacity: 0.5;
  //           }
  //         }

  //         .item-viewer {
  //           position: absolute;
  //           top: 0;
  //           right: 0;
  //           padding: 5px 5px 0;
  //           background: rgba(255, 255, 255, 0.75);
  //           cursor: grab;
  //           transform: translateY(-100%);
  //           transition: transform 200ms;
  //           border-radius: 3px;
  //         }

  //         .item-name {
  //           position: absolute;
  //           bottom: 0;
  //           left: 0;
  //           width: 100%;
  //           text-align: center;
  //           background: rgba(255, 255, 255, 0.75);
  //           text-align: center;
  //           padding: 5px;
  //           font-size: 20px;
  //           border-radius: 3px;
  //           transform: translateY(100%);
  //           transition: transform 200ms;
  //           text-transform: capitalize;
  //         }

  //         &:hover {
  //           .item-name {
  //             transform: translateY(0);
  //           }

  //           .item-viewer {
  //             transform: translateY(0);
  //           }
  //         }
  //       }
  //     }
  //   }

  //   &.has-inventory {
  //     display: block;

  //     .toggle,
  //     .toggle-shadow {
  //       height: 40px;
  //       opacity: 1;
  //     }
  //   }

  //   &.open {
  //     .item-list-wrapper {
  //       height: 150px;
  //     }
  //   }
  // }
}

.debug {
  .main-game-svg {
    .room {

      #{m.svgLabel("middleground")},
      #{m.svgLabel("accessible-area")} {
        opacity: 1 !important;
        stroke: white !important;
        stroke-width: 2px;
      }

      .protagonist-position {
        fill: white !important;
        stroke-width: 0;
      }
    }

    .path-target-line {
      stroke-width: 1px;
      stroke: white !important;
      fill: none;
    }
  }
}

.templates {
  display: none;
}

.overlays {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;

  .tooltip {
    display: inline-block;
    margin: 2rem 0 0 1rem;
    transform: translateX(-50%);
    background: var(--color-bg-black);
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 1rem;
    color: white;
    opacity: 0;
    position: absolute;
    max-width: 640px;
    transition: opacity 300ms;

    &.show {
      opacity: 1;
    }
  }

  .menu-menu {
    padding: 0;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    left: -9999em;
    overflow: hidden;
    height: 0;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: height 150ms ease-in-out, left 0ms 200ms;

    &.show {
      height: calc-size(fit-content, size);
      transition: height 200ms ease-in-out, left 0ms;
    }

    .menu-button {
      background: none;
      border: none;
      color: black;
      text-shadow: none;
      padding: 0.5rem 1.5rem;
      font-size: 0.9rem;
      border-radius: 0;
      width: 100%;
      text-align: left;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }

      &::after {
        display: none;
      }
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.center {
    justify-content: center;
    align-items: center;
  }
}

table {
  th, td {
    text-align: left;
    padding: 0.5rem 1rem 0 0;
  }
}

/** Custom icons. */
.fa-cross-ud {
  --fa: "\f654";
  transform: rotateZ(180deg);
}