@use 'sass:list';
@use 'sass:math';

@property --seed {
  syntax: '<number>';
  initial-value: 0.5;
  inherits: false;
}

:root {
  --seed: 0.5;
}

html,
body {
  background: black;
  height: 100%;
  font-family: "Handjet", monospace;
  font-size: 30px;
  padding: 0;
  margin: 0;

  input,
  button {
    font-family: "Handjet", monospace;
    font-size: 30px;
  }
}

body {
  &.actions-available {
    .action-buttons {
      opacity: 1;

      button {
        cursor: pointer;
      }
    }
  }

  &.active-action-look {
    .screen {

      .item,
      .room-object,
      .character {
        cursor: url("../assets/icons/look.png") 15 15, pointer !important;
      }
    }

    .screen .character.protagonist {
      cursor: default !important;
    }
  }

  &.active-action-interact {
    .screen {

      .item,
      .room-object,
      .character {
        cursor: url("../assets/icons/interact.png") 12 4, pointer !important;
      }
    }

    .screen .character.protagonist {
      cursor: default !important;
    }
  }

  &.active-action-pickup {
    .screen {

      .item,
      .room-object,
      .character {
        cursor: url("../assets/icons/pickup.png") 12 8, pointer !important;
      }
    }

    .screen .character.protagonist {
      cursor: default !important;
    }
  }

  &.active-action-talk {
    .screen {

      .item,
      .room-object,
      .character {
        cursor: url("../assets/icons/talk.png") 8 23, pointer !important;
      }
    }

    .screen .character.protagonist {
      cursor: default !important;
    }
  }

  &.grabbing {
    cursor: url("../assets/icons/hold.png") 8 10, grabbing !important;

    .screen {

      .inventory .toggle,
      .item,
      .room-object,
      .character,
      .character.protagonist {
        cursor: url("../assets/icons/drop.png") 8 7, grabbing !important;
      }
    }
  }
}

.placeholder {
  position: absolute !important;
  left: -9999em !important;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .content-wrapper {
    position: relative;
    width: calc(100% - 20px);
    height: 100%;
    max-width: 1024px;
    max-height: 768px;
  }

  .action-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
    transition: opacity 200ms;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    button {
      background: #DDD;
      border-radius: 10px;
      border: 2px solid #333;
      padding: 4px 8px;
      cursor: default;
      box-sizing: content-box;
      width: 30px;
      height: 30px;
      transition: border 200ms, background-color 200ms;

      &.active {
        border: 4px solid darkblue;
        background: white;
      }
    }
  }

  .inventory {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .toggle,
    .toggle-shadow {
      display: inline-block;
      width: 40px;
      box-sizing: content-box;
      margin: 0 0 -8px 50px;
      background: #BBB;
      border-color: #666;
      border-style: solid;
      border-width: 1px 1px 0 1px;
      border-radius: 3px 3px 0 0;
      position: relative;
      z-index: 300;
      text-align: center;
      cursor: pointer;
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: opacity 300ms, height 300ms;
      line-height: 40px;

      img {
        vertical-align: middle;
      }
    }

    .toggle-shadow {
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
      z-index: 100;
    }

    .item-list-wrapper {
      height: 0;
      background: #BBB;
      border-radius: 3px 3px 20px 20px;
      box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.75);
      width: 100%;
      overflow: hidden;
      position: relative;
      z-index: 200;
      transition: height ease-in-out 300ms;

      .item-list {
        height: 150px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: auto;
        padding: 0 20px;
        gap: 20px;

        .item {
          width: 140px;
          height: 140px;
          display: block;
          cursor: pointer;
          position: relative;
          overflow: hidden;

          &.grabbed {
            svg {
              opacity: 0.5;
            }
          }

          .item-viewer {
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px 5px 0;
            background: rgba(255, 255, 255, 0.75);
            cursor: grab;
            transform: translateY(-100%);
            transition: transform 200ms;
            border-radius: 3px;
          }

          .item-name {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            background: rgba(255, 255, 255, 0.75);
            text-align: center;
            padding: 5px;
            font-size: 20px;
            border-radius: 3px;
            transform: translateY(100%);
            transition: transform 200ms;
            text-transform: capitalize;
          }

          &:hover {
            .item-name {
              transform: translateY(0);
            }

            .item-viewer {
              transform: translateY(0);
            }
          }
        }
      }
    }

    &.has-inventory {

      .toggle,
      .toggle-shadow {
        height: 40px;
        opacity: 1;
      }
    }

    &.open {
      .item-list-wrapper {
        height: 150px;
      }
    }
  }

  .tools {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    position: absolute;
    margin-top: 10px;
    top: 100%;
    width: 100%;
  }
}

.main-game-svg {
  width: 100%;
  max-height: 100%;
  aspect-ratio: 1.33;
  background-color: #111122;
  border-radius: 20px;

  .room {
    g {
      opacity: 0.01 !important;
    }

    [inkscape\:label="foreground"],
    [inkscape\:label="accessible-area"] {
      opacity: 1 !important;
      stroke: white !important;
      stroke-width: 2px;
    }
  }

  [inkscape\:label="blink"] {
    animation: blink 300ms infinite;
  }

  .character {
    cursor: pointer;

    &.protagonist {
      cursor: default;
    }

    [inkscape\:label="eyes"] {
      transform-box: fill-box;
      transform-origin: 50%;
      animation: eyeBlink 5s infinite;
    }

  }

  g.room-object {
    cursor: pointer;

    &:hover {
      [inkscape\:label="hover"] {
        stroke-width: 3px;
        stroke: black;
      }
    }
  }

  .tooltip-container {
    display: none;

    &.show {
      display: block;
    }
  }

  .tooltip {
    display: inline-block;
    margin-left: 250px;
    transform: translateX(-50%);
    background: rgba(0, 0, 139, 0.5);
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 20px;
    color: white;
  }

  .quote-container {
    .quote {
      position: absolute;
      left: 0;
      top: 0;
    }

    &.n {
      .character {
        display: none;
      }

      .quote {
        margin-top: 0;
      }
    }

    &.to-left {
      .quote {
        left: unset;
        right: 0;
      }
    }

    &.above {
      .quote {
        top: unset;
        bottom: 0;
      }
    }

    &:not(.n) {
      &:after {
        content: "";
        position: absolute;
        display: block;
        right: 35px;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 8px 0;
        border-color: darkblue transparent transparent;
        transform: skew(20deg, 0);
      }
    }
  }
}

.quote {
  display: inline-block;
  border: 10px solid darkblue;
  background: #DDDDDD;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 30px;
  min-height: 33px;
  position: relative;
  margin: 15px 15px 15px 0;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
  max-width: 530px;

  .character {
    position: absolute;
    top: -25px;
    left: 10px;
    background: #ddd;
    font-size: 25px;
    padding: 0 5px;
    border: 2px solid darkblue;
    border-radius: 5px;
  }

  p {
    margin: 0;
  }
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: background-color 2s;

  .quote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  svg {
    margin: 0 auto;
    max-height: 300px;
  }

  p {
    margin: 0;
  }

  input {
    display: block;
    padding: 5px 10px;
  }

  button {
    align-self: flex-end;
    padding: 4px 10px 0;
  }

  &.remove-me {
    background-color: rgba(0, 0, 0, 0);

    .quote {
      position: relative;
      animation: runaway 1.5s both ease-out, runawaymotion 1.5s both ease-in;
    }
  }
}

.templates {
  display: none;
}

.popup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;

  .popup {
    overflow: auto;
    cursor: pointer;
  }

  .click-message {
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  &.computer {
    .popup {
      border: 30px solid rgb(225, 224, 201);
      box-shadow: 2px 25px 10px rgba(0, 0, 0, 0.5), 2px 2px 10px rgba(0, 0, 0, 0.5) inset;
      width: 90%;
      height: 90%;
      box-sizing: border-box;
      padding: 20px 30px;
      background: rgb(55, 68, 33);
      color: rgb(5, 178, 5);

      p:first-child {
        margin-top: 0;
      }

      p:last-child {
        &:after {
          display: inline-block;
          content: "";
          margin-left: 20px;
          transform: translateY(6px);
          margin-top: -5px;
          width: 18px;
          height: 30px;
          background: rgba(5, 178, 5, 0.5);
          animation: blink 1s infinite;
        }
      }
    }

    .click-message {
      bottom: 40px;
      right: 60px;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  45% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  95% {
    opacity: 0;
  }
}

@keyframes eyeBlink {
  48% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0.25);
  }

  51% {
    transform: scaleY(0.25);
  }

  53% {
    transform: scaleY(1);
  }
}

@keyframes mouthTalk {

  0%,
  15%,
  20%,
  35%,
  40%,
  60%,
  80%,
  85% {
    transform: scaleY(1);
  }

  5%,
  10%,
  25%,
  30%,
  50%,
  70%,
  75%,
  90%,
  100% {
    transform: scaleY(0.25);
  }
}

@keyframes runaway {
  0% {
    transform: scale(1) rotateZ(0);
  }

  100% {
    transform: scale(0) rotateZ(720deg);
  }
}

@keyframes runawaymotion {
  $coords: 0 0, -12 -20, -26 -75, -9 -106, 22 -130, 64 -145, 88 -148, 118 -148, 155 -140, 186 -127, 208 -112;
  $count: list.length($coords);
  $each: math.div(100, $count - 1);
  $percentage: 0;

  @each $coord in $coords {
    #{$percentage}% {
      left: #{list.nth($coord, 1)}px;
      top: #{list.nth($coord, 2)}px;
    }

    $percentage: $percentage + $each;
  }
}

@import url('../ts/content/characters/protagonist.scss');