@use '../../../styles/mixins' as m;

.protagonist {
  #{m.svgLabel("mouth open")} {
    display: none;
  }

  &.talking {
    #{m.svgLabel("mouth open")} {
      transform-box: fill-box;
      transform-origin: 50%;
      display: block;
      animation: mouthTalk 1s infinite;
    }

    #{m.svgLabel("mouth")} {
      display: none;
    }
  }
}